.walletSection {
    margin: 0 auto;
    width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.walletLink {
    display: flex;
    align-items: center;
    width: 320px;
    height: 72px;
    background-color: #3B3B3B;
    border: 1px solid #A259FF;
    border-radius: 20px;
    padding: 20px 40px;
    gap: 20px;
    font-family: "Work Sans", sans-serif;
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    text-decoration: none;
}