.row {
    display: flex;
    align-items: center;
    width: 1050px;
    height: 84px;
    border-radius: 20px;
    background-color: #3B3B3B;
    padding-left: 20px;
    margin-bottom: 20px;
}

.id {
    font-family: "Space Mono", monospace;
    font-size: 16px;
    padding: 4px 10px;
    color: #858584;
    background-color: #2B2B2B;
    border-radius: 20px;
    margin-right: 20px;
}

.stat {
    font-family: "Space Mono", monospace;
    font-size: 16px;
    width: 160px;
    margin-right: 20px;
}